body {
    perspective: 50vh;
}

* {
    border: none !important;
    background: none !important;
}

span {
    display: inline-block;
    color: black;
}

img {
    box-shadow: 0.1em 0.1em 0.4em black;
    filter: grayscale(1) blur(2px) invert();
}

